<% @path = "/cults/#{@cults.id}/edit" %>
<% @path2 = "/cults/#{@cults.id}/members" %>
<button><a href=<%= @path2%>><%="#{@cults.name}"%> Member's Index</a></button>
<% #binding.pry %>
<button><a href=<%= @path%>>Update Cult Here</a></button>

<h1><%= @cults.name %></h1>
<p>Number of cultists:<%= @cults.member_size %><br>
Open to outsiders:<%= @cults.open_enrollment %><br>
First tracked:<%= @cults.created_at %><br>
Last updated:<%= @cults.updated_at %><br>
Database Id:<%=@cults.id %></p>
<button><%= link_to "Delete #{@cults.name}", "/cults/#{@cults.id}", method: :delete %></button>

<h4>There are <%= @cults.count_members %> cultist listed.</h4>
