<h1><%= @cults.name %></h1>
<p>Number of cultists:<%= @cults.member_size %></p>
<p>Open to outsiders:<%= @cults.open_enrollment %></p>
<p>First tracked:<%= @cults.created_at %></p>
<p>Last updated:<%= @cults.updated_at %></p>
<p>Database Id:<%=@cults.id %></p>
