<% @path = "/cults/#{@cults.id}/edit" %>
<button><a href=<%= @path%>>Update Cult Here</a></button>
<h1>Cultist Index</h1>
<%binding.pry%>
<h2><%= @cult_members.name %></h2>
<p>Marital Status:<%= @member.married %></p>
<p>Number of children:<%= @member.children %></p>
<p>Added to Database:<%= @member.created_at %></p>
<p>Last updated<%= @member.updated_at %></p>
<p>Cult member ID:<%= @member.id %></p>
