<!DOCTYPE html>
<html>
  <head>
    <title>FerretsNCults</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <button><a href="/members">Cultist Index</a></button>  <button><a href="/cults">Cult Index</a></button>

    <%= yield %>

  </body>
</html>
