<h1>Worldwide Cultist Index</h1>
<% boolean = @index.where(married: true).pluck%>
<% boolean.each do |cultist| %>
    <p><%= link_to cultist[1], "/members/#{cultist[0]}"%></p>
    <p>Married:<%=cultist[2]%> Children:<%=cultist[3]%>  First tracked:<%=cultist[4]%>  Updated:<%=cultist[5]%>  Tracking number:<%=cultist[6]%></p>
<%end%>
