<h1><%= @member.name %></h1>
<p>Marital Status:<%= @member.married %></p>
<p>Number of children:<%= @member.children %></p>
<p>Added to Database:<%= @member.created_at %></p>
<p>Last updated<%= @member.updated_at %></p>
<p>Cult member ID:<%= @member.id %></p>
